:root {
  --ff-primary: Roboto, sans-serif;
  --bg-primary: hsla(214, 97%, 53%, 1);
  --bg-secondary: hsla(208, 7%, 46%, 1);
  --bg-success: hsla(140, 67%, 39%, 1);
  --bg-danger: hsla(354, 71%, 54%, 1);
  --bg-warningr: hsla(43, 100%, 58%, 1);
  --bg-info: hsla(188, 80%, 40%, 1);
  --bg-light: hsla(210, 17%, 98%, 1);
  --bg-dark: hsla(210, 10%, 23%, 1);
  --bg-white: hsla(0, 0%, 100%, 1);
  --spacer: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
}
/* No CSS */
